<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans" 
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop" 
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

  <!-- 引入属性文件 -->
  <context:property-placeholder location="classpath:mybatis/jdbc.properties" />
  
  <!-- 数据源 -->
  <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${jdbc.dri}" />
    <property name="url" value="${jdbc.url}" />
    <property name="username" value="${jdbc.usr}" />
    <property name="password" value="${jdbc.pwd}" />
  </bean>
  
  <!-- mybatis文件 -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <!-- 自动扫描entity目录, 省掉Configuration.xml里的手工配置 -->
    <property name="mapperLocations" value="classpath:mapping/*.xml" />
    <!-- 
    <property name="plugins">
      <bean class="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor"> 
        <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect">
      </property> 
    </property>
     -->
  </bean>
  
  <!-- 接口类扫描 -->
  <bean name="mapperScannerConfigurer"  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <property name="basePackage" value="org.yuan.vita.mybatis.mapper" />
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/> 
  </bean>
  
  <!-- 配置事务管理器 -->
  <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource" />
  </bean>

  <!-- 注解方式配置事务 -->
  <tx:annotation-driven transaction-manager="transactionManager" />

  <!-- 扫描持久层 -->
  <context:component-scan base-package="org.yuan.vita.mybatis.manage" />

  <!-- 扫描控制层 
  <context:component-scan base-package="org.yuan.vita.mybatis.controller" />
-->

  <!-- JspViewResolver 
  <bean id="jspViewResolver"
    class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass"
      value="org.springframework.web.servlet.view.JstlView" />
    <property name="prefix" value="/WEB-INF/jsp/" />
    <property name="suffix" value=".jsp" />
  </bean>
  -->

  <!-- JsonViewResolver 
  <bean id="jsonViewResolver"
    class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    <property name="messageConverters">
      <list>
        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
          <property name="supportedMediaTypes">
            <list>
              <value>application/json;charset=UTF-8</value>
            </list>
          </property>
        </bean>  
      </list>
    </property>
  </bean>
-->

  <!-- 拦截器 
  <mvc:interceptors>  
    <bean class="org.yuan.project.platform.other.LogInterceptor"/>  
  </mvc:interceptors>
  -->
</beans>
